@font-face {
  font-family: "Jasmin";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/jasmin.otf);
}

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Marko One", sans-serif;
  --accent-font: "Jasmin", sans-serif;
  --typical-transition-duration: 250ms;
}

body {
  font-family: var(--main-font);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */

.header {
  position: absolute;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 20px;
}

.header-nav-link {
  display: block;
  padding-top: 46px;
  padding-bottom: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
  transition: color var(--typical-transition-duration) linear;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #ffc700;
}

/* HERO */

.hero {
  min-width: 1440px;
  height: 789px;
  padding: 237px 0 248px 0;
  margin: 0 auto;
  background-color: #e8e8e8;
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  position: relative;
  margin-bottom: 60px;
}

.hero-title span {
  display: block;
}

.hero-top-title {
  font-size: 72px;
  line-height: calc(88 / 72);
  color: #ffffff;
}

.hero-accent-title {
  position: absolute;
  top: 48px;
  right: 12px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  color: #ffc700;
}

.hero-bottom-title {
  position: relative;
  margin-top: -12px;

  font-family: sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: calc(119 / 96);
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.hero-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
}

.hero-link::after {
  content: "";
  width: 15px;
  height: 100%;
  margin-left: 5px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 50% bottom 20px;
  background-size: contain;
}

.hero-soc-item:not(:last-child) {
  margin-bottom: 8px;
}

/* Description */

.desription {
  padding-top: 263px;
  padding-bottom: 150px;
}

.desription-container {
  overflow: hidden;
}

.description-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.description-title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: #0499dd;
}

.description-link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-decoration-line: underline;
  color: #282828;
}

.description-list {
  display: flex;
  gap: 20px;
  width: calc((360px * 4) + (20px * 3));
  margin-bottom: 40px;
}

.description-item {
  width: 360px;
  padding: 211px 16px 42px;
  border-radius: 10px;
  background-color: #d4d4d4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description-item:nth-child(1) {
  position: relative;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.121739) 0%,
      #000000 100%
    ),
    url(../images/arc.jpg);
}

.description-item:nth-child(1)::after {
  content: "";
  position: absolute;
  right: 49px;
  bottom: -63px;
  display: inline-block;
  width: 170px;
  height: 2px;
  background-color: #0499dd;
  border-radius: 2px;
}

.description-item:nth-child(2) {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.121739) 0%,
      #000000 100%
    ),
    url(../images/horse.jpg);
}

.description-item:nth-child(3) {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.121739) 0%,
      #000000 100%
    ),
    url(../images/waterfall.jpg);
}

.description-item:nth-child(4) {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.121739) 0%,
      #000000 100%
    ),
    url(../images/church.jpg);
}

.description-item-top-text {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
}

.description-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffc700;
}

.description-item-text-container {
  display: flex;
  margin-bottom: 20px;
}

.description-item-time-text {
  display: flex;
  align-items: center;
  margin-right: 13px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
}

.description-item-time-text::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background-image: url(../images/time.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.description-item-value-text {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
}

.description-item-value-text::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background-image: url(../images/value.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.description-item-bottom-text {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
}

.description-item:first-child .description-item-bottom-text,
.description-item:last-child .description-item-bottom-text {
  margin-bottom: 20px;
}

.description-item:nth-child(2) .description-item-bottom-text,
.description-item:nth-child(3) .description-item-bottom-text {
  margin-bottom: 35px;
}

.description-item-button {
  padding: 12px 43px 13px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.description-selector-container {
  display: flex;
  align-items: center;
}

.description-left-selector {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.description-left-selector-icon {
  stroke: #d4d4d4;
}

.description-right-selector {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 38px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.description-right-selector-icon {
  transform: rotate(180deg);
  stroke: #d4d4d4;
}

.description-left-selector:hover .description-left-selector-icon,
.description-left-selector:focus .description-left-selector-icon,
.description-right-selector:hover .description-right-selector-icon,
.description-right-selector:focus .description-right-selector-icon {
  stroke: #0499dd;
}

.description-selector-container::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  margin-left: 55px;
  background-color: #d4d4d4;
}

/* About us */

.about-us {
  width: 1440px;
  height: 749px;
  padding: 137px 0 136px;
  margin: 0 auto;
  background-image: url(../images/bg-about.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.about-us-content-container {
  width: 542px;
  padding: 61px 75px 105px 85px;
  margin-left: auto;
  background-color: #ededed;
  border-radius: 10px;
}

.about-us-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: #0499dd;
}

.about-us-text {
  width: 382px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.about-us-top-text {
  margin-bottom: 20px;
}

/* Excursions */

.excursions {
  padding: 150px 0;
}

.container {
}

.excursions-title {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: #0499dd;
}

.excursions-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 60px;
}

.excursions-item {
  display: flex;
  align-items: flex-start;
  width: calc(100% / 2 - 20px);
}

.excursions-item::before {
  content: "";
  width: 75px;
  height: 74px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.excursions-item:nth-child(1)::before {
  background-image: url(../images/bus.png);
}

.excursions-item:nth-child(2)::before {
  background-image: url(../images/jeeping.png);
}

.excursions-item:nth-child(3)::before {
  background-image: url(../images/yachting.png);
}

.excursions-item:nth-child(4)::before {
  height: 66px;
  background-image: url(../images/canyoning.png);
}

.excursions-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #0499dd;
}

.excursions-item-text {
  width: 455px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.excursions-text {
  width: 550px;
  margin: 0 auto 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;
  color: #282828;
}

.excursions-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
}

.excursions-link::after {
  content: "";
  width: 15px;
  height: 100%;
  margin-left: 5px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 50% bottom 20px;
  background-size: contain;
}

/* Gallery */
