@font-face {
  font-family: "Jasmin";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/jasmin.otf);
}

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Marko One", sans-serif;
  --accent-font: "Jasmin", sans-serif;
  --typical-transition-duration: 250ms;
}

body {
  font-family: var(--main-font);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Footer */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 20px;
}

.header-nav-link {
  display: block;
  padding-top: 46px;
  padding-bottom: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
  transition: color var(--typical-transition-duration) linear;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #ffc700;
}

/* HERO */

.hero {
  max-width: 1440px;
  height: 789px;
  padding: 237px 0 248px 0;
  margin: 0 auto;
  background-color: #e8e8e8;
  /* background-image: url(../images/hero-image.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
}

.hero-title {
  position: relative;
}

.hero-title span {
  display: block;
}

.hero-top-title {
  font-size: 72px;
  line-height: calc(88 / 72);
  color: #ffffff;
}

.hero-accent-title {
  position: absolute;
  top: 48px;
  right: 32px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  color: #ffc700;
}

.hero-bottom-title {
  position: relative;

  font-family: sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: calc(119 / 96);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #fff;
}
.hero-link {
}
.hero-soc-list {
}
.hero-soc-item {
}
.hero-soc-link {
}
.hero-soc-icon {
}
