@font-face {
  font-family: "Jasmin";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/jasmin.otf);
}

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Marko One", sans-serif;
  --accent-font: "Jasmin", sans-serif;
  --typical-transition-duration: 250ms;
}

body {
  font-family: var(--main-font);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1120px;
  /* padding: 0 15px; */
  margin: 0 auto;
}

/* Header */

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 20px;
}

.header-nav-link {
  display: block;
  padding-top: 46px;
  padding-bottom: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
  transition: color var(--typical-transition-duration) linear;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #ffc700;
}

/* HERO */

.hero {
  min-width: 1440px;
  height: 789px;
  padding: 237px 0 248px 0;
  margin: 0 auto;
  background-color: #e8e8e8;
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  position: relative;
  margin-bottom: 60px;
}

.hero-title span {
  display: block;
}

.hero-top-title {
  font-size: 72px;
  line-height: calc(88 / 72);
  color: #ffffff;
}

.hero-accent-title {
  position: absolute;
  top: 48px;
  right: 12px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  color: #ffc700;
}

.hero-bottom-title {
  position: relative;
  margin-top: -12px;

  font-family: sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: calc(119 / 96);
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.hero-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
}

.hero-link::after {
  content: "";
  width: 15px;
  height: 100%;
  margin-left: 5px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 50% bottom 20px;
  background-size: contain;
}

.hero-soc-item:not(:last-child) {
  margin-bottom: 8px;
}

/* Description */

.desription {
  padding-top: 263px;
  padding-bottom: 150px;
}

.desription-container {
  /* overflow: hidden; */
}

.description-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.description-title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: #0499dd;
}

.description-link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-decoration-line: underline;
  color: #282828;
}

.description-list-container {
  padding: 0;
  margin-bottom: 40px;
  overflow: scroll;
}

.description-list {
  width: 1500px;
  overflow: scroll;
  display: flex;
  gap: 20px;
  width: calc((360px * 4) + (20px * 3));
}

.description-item {
  width: 360px;
  padding: 211px 16px 42px;
  border-radius: 10px;
  background-color: #d4d4d4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description-item:nth-child(1) {
  position: relative;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.121739) 0%,
      #000000 100%
    ),
    url(../images/arc.jpg);
}

.description-item:nth-child(2) {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.121739) 0%,
      #000000 100%
    ),
    url(../images/horse.jpg);
}

.description-item:nth-child(3) {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.121739) 0%,
      #000000 100%
    ),
    url(../images/waterfall.jpg);
}

.description-item:nth-child(4) {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.121739) 0%,
      #000000 100%
    ),
    url(../images/church.jpg);
}

.description-item-top-text {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
}

.description-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffc700;
}

.description-item-text-container {
  display: flex;
  margin-bottom: 20px;
}

.description-item-time-text {
  display: flex;
  align-items: center;
  margin-right: 13px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
}

.description-item-time-text::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background-image: url(../images/time.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.description-item-value-text {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
}

.description-item-value-text::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background-image: url(../images/value.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.description-item-bottom-text {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
}

.description-item:first-child .description-item-bottom-text,
.description-item:last-child .description-item-bottom-text {
  margin-bottom: 20px;
}

.description-item:nth-child(2) .description-item-bottom-text,
.description-item:nth-child(3) .description-item-bottom-text {
  margin-bottom: 35px;
}

.description-item-button {
  padding: 12px 43px 13px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.description-selector-container {
  display: flex;
  align-items: center;
}

.description-left-selector {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.description-left-selector-icon {
  stroke: #d4d4d4;
}

.description-right-selector {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 38px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.description-right-selector-icon {
  transform: rotate(180deg);
  stroke: #d4d4d4;
}

.description-left-selector:hover .description-left-selector-icon,
.description-left-selector:focus .description-left-selector-icon,
.description-right-selector:hover .description-right-selector-icon,
.description-right-selector:focus .description-right-selector-icon {
  stroke: #0499dd;
}

.description-selector-container::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  margin-left: 55px;
  background-color: #d4d4d4;
}

/* About us */

.about-us {
  width: 1440px;
  height: 749px;
  padding: 137px 0 136px;
  margin: 0 auto;
  background-image: url(../images/bg-about.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.about-us-content-container {
  width: 542px;
  padding: 61px 75px 105px 85px;
  margin-left: auto;
  background-color: #ededed;
  border-radius: 10px;
}

.about-us-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: #0499dd;
}

.about-us-text {
  width: 382px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.about-us-top-text {
  margin-bottom: 20px;
}

/* Excursions */

.excursions {
  padding: 150px 0;
}

.container {
}

.excursions-title {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: #0499dd;
}

.excursions-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 60px;
}

.excursions-item {
  display: flex;
  align-items: flex-start;
  width: calc(100% / 2 - 20px);
}

.excursions-item::before {
  content: "";
  width: 75px;
  height: 74px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.excursions-item:nth-child(1)::before {
  background-image: url(../images/bus.png);
}

.excursions-item:nth-child(2)::before {
  background-image: url(../images/jeeping.png);
}

.excursions-item:nth-child(3)::before {
  background-image: url(../images/yachting.png);
}

.excursions-item:nth-child(4)::before {
  height: 66px;
  background-image: url(../images/canyoning.png);
}

.excursions-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #0499dd;
}

.excursions-item-text {
  width: 455px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.excursions-text {
  width: 550px;
  margin: 0 auto 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;
  color: #282828;
}

.excursions-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
}

.excursions-link::after {
  content: "";
  width: 15px;
  height: 100%;
  margin-left: 5px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 50% bottom 20px;
  background-size: contain;
}

/* Gallery */

.gallery {
  padding-bottom: 150px;
}

.gallery-text-container {
  display: flex;

  justify-content: space-between;
  margin-bottom: 90px;
}

.gallery-title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: #0499dd;
}

.gallery-link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-decoration: underline;
  color: #282828;
}

.gallery-img-container {
  width: 1409.75px;
  margin: 0 auto;
  display: flex;
}

.gallery-left-main-container > .gallery-img {
  margin-bottom: 20px;
}

.gallery-left-secondary-container {
  display: flex;
  /* gap: 20.14px; */
}

.gallery-left-container {
  margin-left: 20.14px;
}

.gallery-left-container .gallery-img:first-child {
  margin-bottom: 20px;
}

.gallery-img-container > .gallery-img {
  margin-left: 20.38px;
  margin-right: 20.41px;
  align-self: flex-start;
}

.gallery-right-container {
  display: flex;
  column-gap: 20.41px;
  margin-bottom: 20px;
}

/* Reviews */

.reviews {
  padding-bottom: 150px;
}

.reviews-container {
  overflow: hidden;
  padding: 0;
}

.reviews-text-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.reviews-title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: #0499dd;
}

.reviews-link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-decoration: underline;
  color: #282828;
}

.reviews-container-list {
  overflow: scroll;
  padding: 0;
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
  width: 1552px;
  gap: 20px;
}

.reviews-item {
  display: flex;
  gap: 28px;
  width: 740px;
  padding: 38px 27px 39px 45px;
  background-color: #ededed;
  border-radius: 10px;
  background-image: url(../images/pointer.svg);
  background-repeat: no-repeat;
  background-size: 197px 322px;
  background-position: right 20px bottom -150px;
}

.reviews-img {
  border-radius: 10px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(.jpg);
}

.reviews-top-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.reviews-bottom-text {
  width: 395px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.reviews-selector-container {
  display: flex;
  align-items: center;
}

.reviews-left-selector {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reviews-left-selector-icon {
  stroke: #d4d4d4;
}

.reviews-right-selector {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 38px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reviews-right-selector-icon {
  transform: rotate(180deg);
  stroke: #d4d4d4;
}

.reviews-left-selector:hover .reviews-left-selector-icon,
.reviews-left-selector:focus .reviews-left-selector-icon,
.reviews-right-selector:hover .reviews-right-selector-icon,
.reviews-right-selector:focus .reviews-right-selector-icon {
  stroke: #0499dd;
}

.reviews-selector-container::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  margin-left: 55px;
  background-color: #d4d4d4;
}

/* Contacting */

.contacting {
  width: 1440px;
  height: 640px;
  margin: 0 auto;
  background-color: #e8e8e8;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/form-bg.jpg);
  background-repeat: no-repeat;
  background-position: right, center;
  background-size: 50%, contain;
}

.contacting-form-container {
  width: 560px;
  padding: 132px 95px 143px 105px;
  margin-left: auto;
  backdrop-filter: blur(10px);
}

.contacting-top-text {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: #ffffff;
}

.contacting-bottom-text {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffc700;
}

.contacting-form-label {
  position: relative;
  display: block;
  font-size: 12px;
  color: #ffffff;
}

.contacting-form-text {
  position: absolute;
  bottom: 0;

  font-weight: 500;
  font-size: inherit;
  line-height: calc(15 / 12);
  color: currentColor;
}

.contacting-form-input {
  width: 100%;
  height: 15px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  font-size: inherit;
  color: currentColor;
  outline: none;
}

.contacting-form-label:nth-child(1) .contacting-form-input {
  padding-left: 30px;
}

.contacting-form-label:nth-child(2) .contacting-form-input {
  padding-left: 60px;
}

.contacting-form-label:nth-child(3) .contacting-form-input {
  padding-left: 43px;
}

.contacting-form-label:not(:last-child) {
  margin-bottom: 45px;
}

.contacting-form-label:nth-child(3) {
  margin-bottom: 83px;
}

.contacting-form-bytton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

/* Footer */

.footer {
  padding-top: 30px;
  padding-bottom: 29px;
  background-color: #ededed;
}

.footer-container {
  display: flex;
  /* align-items: center; */
}

.footer-lists-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.footer-soc-list {
  margin-left: auto;
  margin-left: 314px;
}

.footer-soc-secondary-list {
  margin-left: 112px;
}

.footer-soc-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.footer-soc-link::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-soc-item:nth-child(1) .footer-soc-link::before {
  width: 19px;
  height: 19px;
  background-image: url(../images/wh.svg);
}

.footer-soc-item:nth-child(2) .footer-soc-link::before,
.footer-soc-item:nth-child(3) .footer-soc-link::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/tg.svg);
}

.footer-soc-secondary-item .footer-soc-link::before {
  width: 19px;
  height: 19px;
  background-image: url(../images/mail.svg);
}

.footer-soc-secondary-item:first-child {
  margin-bottom: 15px;
}

.footer-soc-secondary-sublist {
  display: flex;
  gap: 6px;
  align-items: center;
}

.footer-soc-secondary-subitem:first-child {
  margin-left: -2px;
}

.footer-soc-subitem-link {
  display: flex;
  justify-content: start;
}

/* Excursions  */

/* hero */

.excursions-hero {
  padding: 142px 0 59px;
  background-color: #e8e8e8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(../images/excursions-bg.jpg);
  filter: blur(0.5px);
}

.excursions-hero-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
  color: #ffffff;
}

/* Options */

.excursions-options {
  padding-top: 40px;
  background-color: #fbfbfb;
}

.options-selector {
  padding: 60px;
  margin-bottom: 38px;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
/* 
.options-selector-list-container {
  position: relative;
  width: 475px;
  margin: 0 auto 73px;
}

.options-selector-list-container::after {
  position: absolute;
  bottom: -12.5px;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #d4d4d4;
}

.options-selector-list {
  position: relative;
  display: flex;
  width: 475px;
  margin: 0 auto;
}

.options-selector-btn {
  padding: 0 5px 0 15px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color var(--typical-transition-duration) linear;
}

.options-selector-btn:hover,
.options-selector-btn:focus {
  color: #0499dd;
}

.options-selector-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -13px;
  z-index: 1;
  transform: scaleX(0);
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #0499dd;
  transition: transform var(--typical-transition-duration) linear;
}

.options-selector-btn:hover::after,
.options-selector-btn:focus::after {
  transform: scaleX(1);
} */

.options-selector-form {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 475px;
}

/* .options-selector-label {
} */

.options-selector-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.options-selector-form::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #d4d4d4;
}

.options-selector-text {
  position: relative;
  display: inline-block;
  padding: 0 10px 11px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
  /* border-bottom: 2px solid #d4d4d4;
  border-radius: 2px; */
  cursor: pointer;
  transition: color var(--typical-transition-duration) linear;
}

.options-selector-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  z-index: 1;
  transform: scaleX(0);
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #0499dd;
  transition: transform var(--typical-transition-duration) linear;
}

.options-selector-label:last-child .options-selector-text::after {
  width: calc(100% + 11px);
}

.options-selector-input:checked + .options-selector-text {
  color: #0499dd;
}

.options-selector-input:checked + .options-selector-text::after {
  transform: scaleX(1);
}

.options-form {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.options-form-label {
  position: relative;
}

.options-form-select {
  width: 235px;
  padding: 16px 35px 17px 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #000000;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: transparent;
  appearance: none;
}

.options-form-icon {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.options-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 10px;
  border: none;
}

.options-main-container {
  display: flex;
  gap: 40px;
}

.options-form-container {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 1018px;
  padding: 25px 35px 25.2px;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.options-form-text {
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #0499dd;
}

.options-main-form {
}

.options-form-value-container {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.options-form-value-container::after {
  content: " ";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ededed;
  border-radius: 2px;
}

.options-form-value-btn {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.options-form-value-btn-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.options-form-value-btn-text::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 16px;
  height: 2px;
  background-image: linear-gradient(#0499dd, #0499dd);
  border-radius: 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.options-form-value-input--text-container {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.options-form-value-input {
  width: 105px;
  padding: 7px 16px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #282828;
  border: 1px solid #ededed;
  border-radius: 40px;
  background-color: transparent;
  appearance: none;
}

.options-form-value-input-range {
  width: 100%;
}

.options-form-quantity-container {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.options-form-quantity-container::after {
  content: " ";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ededed;
  border-radius: 2px;
}

.options-form-quantity-btn {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.options-form-quantity-btn-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.options-form-quantity-btn-text::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 16px;
  height: 2px;
  background-image: linear-gradient(#0499dd, #0499dd);
  border-radius: 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.options-form-quantity-label {
  position: relative;
}

.options-form-quantity-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.options-form-quantity-input:checked + .options-form-quantity-label-text {
  background-color: #0499dd;
  color: #fff;
}

.options-form-quantity-label-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3px;
  row-gap: 7px;
}

.options-form-quantity-label-text {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 73px;
  height: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #282828;
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 40px;
  cursor: pointer;
}

.options-form-quantity-label:last-child .options-form-quantity-label-text {
  min-width: 149px;
}

.options-form-place-container {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.options-form-place-container::after {
  content: " ";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ededed;
  border-radius: 2px;
}

.options-form-place-btn {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.options-form-place-btn-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.options-form-place-btn-text::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 16px;
  height: 2px;
  background-image: linear-gradient(#0499dd, #0499dd);
  border-radius: 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.options-form-place-label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
}

.options-form-place-label:not(:last-child) {
  margin-bottom: 5px;
}

.options-form-place-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.options-form-place-label-bg {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #d4d4d4;
}

.options-form-place-pointer {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.options-form-place-input:checked
  + .options-form-place-label-bg
  .options-form-place-pointer {
  background-color: #0499dd;
}

.options-form-place-label-text {
  margin-left: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #282828;
}

.options-form-lenght-container {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.options-form-lenght-container::after {
  content: " ";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ededed;
  border-radius: 2px;
}

.options-form-lenght-btn {
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.options-form-lenght-btn-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.options-form-lenght-btn-text::after {
  content: "";
  width: 14px;
  height: 14px;
  background: linear-gradient(#0499dd, #0499dd),
    linear-gradient(#0499dd, #0499dd);
  background-position: center;
  background-size: 100% 2px, 2px 100%;
  background-repeat: no-repeat;
}

.options-form-time-container {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.options-form-time-container::after {
  content: " ";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ededed;
  border-radius: 2px;
}

.options-form-time-btn {
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.options-form-time-btn-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #282828;
}

.options-form-time-btn-text::after {
  content: "";
  width: 14px;
  height: 14px;
  background: linear-gradient(#0499dd, #0499dd),
    linear-gradient(#0499dd, #0499dd);
  background-position: center;
  background-size: 100% 2px, 2px 100%;
  background-repeat: no-repeat;
}

.options-form-top-button {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.options-form-bottom-button {
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.options-form-bottom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #282828;
}

.options-form-bottom-text::before {
  content: "";
  width: 14px;
  height: 14px;
  transform: rotate(-45deg);
  background: linear-gradient(#d4d4d4, #d4d4d4),
    linear-gradient(#d4d4d4, #d4d4d4);
  background-position: center;
  background-size: 100% 2px, 2px 100%;
  background-repeat: no-repeat;
}

.options-tours-container {
}

.options-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: #0499dd;
}

.options-item {
  width: 779px;
  padding: 27px 43px 27px 281px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 238px 100%;
  background-position: left;
  background-image: url(../images/list-img.jpg);
}

.options-item:not(:last-child) {
  margin-bottom: 20px;
}

.options-item-top-text {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffc700;
}

.options-item-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #282828;
}

.options-sublist {
  display: flex;
  margin-bottom: 20px;
}

.options-subitem-top-text {
  display: flex;
  align-items: center;

  margin-bottom: 1px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #0499dd;
}

.options-subitem-top-text::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.options-subitem:nth-child(1) {
  margin-right: 10px;
}

.options-subitem:nth-child(2) {
  margin-right: 40px;
}

.options-subitem:not(:last-child) .options-subitem-top-text::before {
  background-image: url(../images/value-accent.svg);
}

.options-subitem:last-child .options-subitem-top-text::before {
  background-image: url(../images/time-accent.svg);
  width: 15px;
  height: 15px;
}

.options-subitem-bottom-text {
  font-weight: 500;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #282828;
}

.options-item-main-text {
  position: relative;
  width: 451px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #282828;
}

.options-item-main-text::before {
  position: absolute;
  left: 0;
  content: "";
  display: inline-block;
  width: 3px;
  height: 75px;
  margin-right: 20px;
  background-color: #0499dd;
  border-radius: 2px;
}

.options-item-btn-container {
  display: flex;
}

.options-item-btn {
  width: 160px;
  height: 40px;
  margin-right: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #ffffff;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.options-item-label {
  display: block;
  height: 40px;
}

.options-item-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.options-item-icon {
  stroke: #d4d4d4;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  background-color: #ededed;
  border: 2px solid transparent;
  cursor: pointer;
}

.options-item-input:checked + .options-item-icon {
  stroke: #0499dd;
  background-color: transparent;
  border-color: #0499dd;
}
